<html>
    <title>sachin</title>
<body>

    <center>
        <h1> This is the app2 function2</h1>
        <h1 style="color:orange">welcome to mr.sachin</h1>
        <h2>Sachin Ramesh Tendulkar BR,born 24 April 1973) is an Indian former international cricketer who captained the
             Indian national team. Nicknamed "The Little Master" and "Master Blaster, he is regarded as one of the 
             greatest batsmen in the history of cricket.He is the all-time highest run-scorer in both ODI and Test cricket 
             with more than 18000 runs and 15000 runs respectively in total.He also holds the record for receiving the
              most man-of-the-match awards in international cricket. Known for his large fanbase and described by ESPNcricinfo 
              as 'the most worshipped player in the world'.


              <h3><a href="{% url 'app1:virat' %}">go to virat page</a></h3>
              <h3><a href="{% url 'app2:rohit' %}">go to rohit page</a></h3>
              <h3><a href="{% url 'app1:dhoni' %}">go to dhoni page</a></h3>
      
    </center>
</body>
</html>
