<html>
    <title>virat</title>
<body>

    <center>
        <h1> This is the app1 function2</h1>
        <h1 style="color:blue">welcome to mr.virat</h1>
        <h2>Virat Kohli ( born 5 November 1988) is an Indian international cricketer and former captain of the India national team 
            who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL and for Delhi in Indian domestic cricket.
             Widely regarded as one of the greatest batsmen of all time, Kohli holds the records for scoring most runs in T20 
             internationals and in the IPL. In 2020, the International Cricket Council named him the male cricketer of the decade. 
             Kohli has also contributed to India's successes, including winning the 2011 World Cup and the 2013 Champions trophy.

        <h3><a href="{% url 'app1:dhoni' %}">go to dhoni page</a></h3>
        <h3><a href="{% url 'app2:rohit' %}">go to rohit page</a></h3>
        <h3><a href="{% url 'app2:sachin' %}">go to sachin page</a></h3>

    </center>
</body>
</html>
